@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
/*	background-image: url(pexels-apasaric-3310691.jpg);*/
	background: #f8f8f8;
	font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none !important;
}

.forgot-password {
  position: relative;
  top: -184px;
  left: 150px;
  font-size: 14px;
  font-weight: bold;
}