<div class="b-friend flex justify-between gap-2 items-center hover:bg-gray-200 rounded-sm p-1">

	<% if find_friends(friend, current_user)  %>
    <div class="order-3 text-base text-red-500">
      <%= button_to "unfriend", friend_request_path(find_friends(friend, current_user)), method: :delete, class: "cursor-pointer" %>
    </div>
  <% end -%>
  

  <div class="w-1/11">
   	 <%= image_tag avatar_url(friend) , class: "rounded-full" %>	      
  </div>

	<div class="profile-info grow-1 flex flex-col">			
     <div class="text-base">
     	<p><%= friend.full_name %></p>
     </div>

     	<div class="text-blue-500 text-xs">
				implement send a message
			</div>
	</div>

	<div class="text-base">
				<%= link_to "view profile", profile_path(friend) %>
	</div>

</div>


	    
