<div class="results flex flex-col p-4">
           <div class="close self-end text-blue-700 rounded-xl bg-gray-200 p-1 mt-[-4px] mr-[-5px] mb-5">
              <%= link_to '#', data: {action: "click->search#hide"}, class: "text-gray-400 hover:text-gray-600" do %>
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            <% end %>    
</div>