<div class="b-action-links">
    <ul>
        <li><%= link_to "profile", profile_path(current_user) %></li>
        <li><%= link_to "friends", profile_friend_requests_path(current_user) %></li>
        <li>implement messages</li>
    </ul>
</div>