<div class="ascii-art text-md">
    <pre class="">                      .-.
            .-""`""-.    |(@ @)
         _/`hElOoOoOo`\_ \ \-/
        '.-=-=-=-=-=-=-.' \/ \
    jgs   `-=.=-.-=.=-'    \ /\
             ^  ^  ^       _H_ \
    </pre>

</div>

