<div id="newPost" class="b-new-post w-full min-h-10 border-gray-400/50 bg-white rounded-xl border text-sm p-2 flex justify-center items-center">
       <div class="create-new-post-link h-full w-3xs ">
          <%= link_to new_post_path, id: "openModalBtn", class: "text-blue-500 font-semibold hover:text-blue-400", data: { turbo_frame: "new_post" } do %>
            <div class="create-post flex justify-center items-center cursor-pointer font-base">

                <div class="ico">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25" fill="#2c80ff" class="bi bi-plus font-bold" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </div>

                <p>New Post</p>

            </div>
        <% end -%>
    
       
       </div>
</div>


      