<%= turbo_frame_tag 'new_post' do %>

	<div class="flex justify-start items-center ml-2 mb-2 p-2 ">

		<div class="back text-blue-700">
			<%= link_to "<back", posts_path %>
		</div>
		
		<div class="b-new-post-link w-full flex justify-center">
			<h2 class="text-xl font-bold text-blue-700">New Post</h2>
		</div>
		
	</div>
	
	<%= render "form" %>
<% end %>
