<%= turbo_frame_tag 'new_post' do %>

	<div class="flex justify-start items-center mb-2 p-2">
		<div class="back mr-40 text-blue-700">
			<%= link_to "< Back", posts_path %>
		</div>
		
		<div class="b-new-post-link">
			<h2 class="text-center text-xl font-bold text-blue-700">New Post</h2>
		</div>
		
	</div>
	
	<%= render "form" %>
<% end %>
