<div id="noPosts" class="h-full flex flex-col justify-center items-center text-gray-500 px-4 py-12">
  <div class="text-center">
    <p class="text-3xl font-semibold mb-2">No Posts</p>
    <p class="text-base text-gray-400"><%= msg %></p>
  </div>
</div> 